/*Import af fonts*/
@import url('https://fonts.cdnfonts.com/css/corbel?styles=65647,65649,65650,65651,65648,65652');
@import url('https://fonts.cdnfonts.com/css/trueno?styles=28817,28823,28815,28819,28807,28809,28821');
@import url('https://fonts.cdnfonts.com/css/metropolis-4?styles=139992,139996,139986,139988,139990,139994,139982,139984,139980');

/*Fjerner margin og padding for hele siden*/
*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/*Sættes for at footer kan placeres i bunden*/
html {
    height: 100%;
}

/*Generelle regler for body*/

body {
    font-family: 'Metropolis', sans-serif;
    color: white;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 150px;
}

/*Styling af Header*/

.preheader {
    background-image: url(images/headerbg.jpg);
    background-size: 100%;
    background-position-y: -10px;
    background-repeat: no-repeat;
    height: 100px;
    min-width: 1260px;
}

.preheader a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Trueno', sans-serif;
    text-transform: uppercase;
    font-style: oblique;
    letter-spacing: 1px;
    font-size: 50pt;
    font-weight: bold;
    color: white;
    padding-top: 5px;
}

/*Styling af NAV og LINKS*/

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #00323e;

    font-family: 'Trueno', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12pt;

    position: sticky;
    top: 0;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
}
nav a {
    padding: 12px 20px;
    transition: 0.2s;
}
nav a:hover:not(#hjem) {
    background-color: #02566b;
}

/*Hjemknap*/
#hjem:hover {
    color: #02566b;
}

/*Baggrundsfarve skifter på navScroll*/
.navChange {
    transition: .2s;
    background-color: #02566bef;
    border-bottom: 4px solid #00323b79;
    justify-content: center;
    gap: 20px;
}

.navscroll a:hover:not(#hjem) {
    background-color: #00323e;
}
.navscroll #hjem:hover {
    color: #00323e;
}

/*Styling af footer*/

footer {
    display: flex;
    justify-content: space-around;
    background-color: #00323e; 
    gap: 300px;
    padding: 40px;
    line-height: 25px;

    /*Bliv i bunden for helvede*/
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.fa-brands {
    font-size: 25pt;
}
footer h3 {
    padding-bottom: 5px;
}
#socials {
    position: relative;
    top: 16px;
    right: 28px;
}

/*Styles ikoner i footer*/
.ikoner {
    display: flex;
    justify-content: space-between;
}

.fa-brands {
    transition: 0.1s;
}
.fa-instagram:hover {
    color: #C13584;
}
.fa-facebook-f:hover {
    color: #4267B2;
}
.fa-twitter:hover {
    color: #1DA1F2;
}

/*Syling af links i footer*/
.kontakt a {
    transition: 0.1s;
}
.kontakt a:hover {
    color: #427001;
}
.adresse a {
    transition: 0.1s;
}
.adresse a:hover {
    color: #427001;
}


/*Styling af kortsektion*/

.allekort {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    width: 100%;
    margin-bottom: 150px;
}
.kort {
    width: 250px;
    background-color: #00323e;
    border-radius: 5px;

    transition: 0.2s;
}
.kort:hover {
    background-color: #427001;
    transform: scale(1.02)
}
.kort img {
    border-radius: 5px 5px 0px 0px;
    width: 250px;
}
.kortindhold {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 90%;
    padding-top: 10px;
    padding-left: 10px;
}
.kortindhold h1 {
    color: white;
    font-size: 15pt;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
}
.kortindhold h2 {
    font-size: 10pt;
    font-weight: 200;
    line-height: 20px;
}
.kortindhold p {
    font-size: 8pt;
    font-style: italic;
    padding-bottom: 10px;
}

/*Styling af undermenu*/

#undermenu {
    margin-top: 50px;
    padding-bottom: 100px;
    gap: 50px;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

/*Stylying af menupunkter*/
.menuer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
.menuer a {
    background-color:#427001;
    padding: 15px;
    border-radius: 5px;
    font-weight: 700;

    transition: 0.2s;
}
.menuer a:hover {
    background-color: #00323e;
}

#valgtmenu {
    background-color:#00323e;
}

/*Styling af eventside*/

/*INTRO*/
.eventintro {
    color: black;
    width: 60%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align-last: left;
}
.eventintro h1 {
    font-size: 60pt;
    text-align: left;
    font-weight: 900;
    padding-bottom: 5px;
}
.eventintro h2 {
    font-size: 15pt;
    line-height: 25px;
}

/*KORT*/
.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 100px;
}
.event {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    height: 250px;
    background-color: #00323e;
    border: 10px #02566b solid;
}

/*INDHOLD*/
.eventindhold {
    padding-left: 10px;
}
.eventindhold h1 {
    font-size: 30pt;
    padding-top: 10px;
    padding-bottom: 5px;
}
.eventindhold h2 {
    font-weight: 300;
}
.eventindhold p {
    width: 80%;
    text-align-last: left;
    padding-top: 30px;
    line-height: 25px;
    font-size: 12pt;
    font-weight: 100;
}

/*KNAPPER*/
.pris {
    border: none;
    border-radius: 5px;
    background-color: #02566b;
    color: white;
    padding: 12px;
    width: 150px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 12pt;
}
.tilmelding {
    border: none;
    border-radius: 5px;
    background-color: #427001;
    color: white;
    padding: 12px;
    width: 150px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12pt;
    transition: .2s;
}
.tilmelding:hover {
    transform: scale(1.02);
}

/*Videresending fra bunden af artikler*/

.videresend {
    background-color:#427001;
    padding: 15px;
    border-radius: 5px;
    font-weight: 700;
    width: 170px;
    text-align: center;

    transition: 0.2s;
}
.videresend:hover {
    background-color: #00323e;
}

/*OM SECTOR1 SIDE*/

#omsector1 {
    margin-top: 100px;
}

.omos {
    background-color: #00323e;
    border-radius: 30px;
    border: 10px #02566b solid;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 70%;
    color: white;
    margin: auto;
}
.omos h1 {
    padding-bottom: 30px;
    width: 70%;
    margin: auto;
    text-align: center;
    line-height: 50px;
}
.omos p {
    padding-bottom: 50px;
    font-size: 16pt;
    font-weight: 200;
    width: 70%;
    margin: auto;
    text-align: center;
    line-height: 25px;
    padding: 20px;
}

#eventlink {
    text-decoration: underline;
}

/*KONTAKTSIDE*/

#kontaktside {
    width: 70%;
    margin: auto;
}

#kontaktside h1 {
    color: black;
    padding-bottom: 10px;
    font-size: 45pt;
}

#kontaktside h3 {
    color: black;
    padding-bottom: 20px;
}

.kontaktform {
    background-color: #00323e;
    padding: 50px;
    border-radius: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

input[type=text]:not(#konkurrence), select, textarea {
    font-family: 'Metropolis', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 20px; 
    resize: vertical 
}
input[type=email], select, textarea {
    font-family: 'Metropolis', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 20px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #427001;
    border: none;
    font-family: 'Metropolis', sans-serif;
    font-size: 15pt;
    font-weight: 500;
    color: white;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;

    transition: .1s;
}
input[type=submit]:hover {
    background-color: #02566b;
}

.andremuligheder {
    color: black;
    margin-bottom: 50px;
}
.andremuligheder h2 {
    font-size: 25pt;
    padding-bottom: 20px;
}
.andremuligheder li {
    list-style: none;
    font-size: 18pt;
    padding-bottom: 10px;
}
.andremuligheder li {
    color: black;
    transition: 0.2s;
}
.andremuligheder a {
    color: black;
}
.andremuligheder a:hover {
    color: #02566b;
}

/*RESULTATSIDE*/

#resultater {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 235px;
}

#resultater h1 {
   color: black;
   font-size: 50pt;
   font-weight: 900;
   font-family: 'Century Gothic', 'Trueno', 'Lucida Sans', sans-serif;
}
#resultater p {
    color: black;
    width: 50%;
    text-align: center;
    font-size: 15pt;
    padding-top: 20px;
    line-height: 30px;
}
.fa-screwdriver-wrench {
    color: rgb(228, 121, 0);
    font-size: 80pt;
    padding-bottom: 30px;
}